.pokemon-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-image {
  width: 400px;
  height: 400px;
}

.pokemon-info-title {
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  /* margin-bottom: 20px; */
  margin: 0px 0px 20px 0px;
  background: rgba(0, 0, 0, 0.5);
}

.pokemon-info-sub-title {
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}

.favorite-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.favorite-text {
  font-size: 16px;
}
