.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(
    -45deg,

    #ff0000,
    #ff7f00,
    #00fdd3,
    #00a500,
    #0000ff,
    #00fff2,
    #4b0082,
    #8b00ff,
    #00ff00
  );
  background-size: 300% 300%;
  animation: rainbow-animation-page 40s linear infinite;
}

.pokemon-filter-button {
  width: 350px;
  background-color: #220000;
  border: 3px solid #3b3b3b;
  color: #fbff00;
  font-weight: bold;
  padding: 12px 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px #999;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
  border-radius: 50px;
}

.pokemon-filter-button:hover {
  background-color: rgb(193, 189, 255);
  box-shadow: 0 2px #666;
  color: #000a36;
  border: 3px solid black;
}

.pokemon-filter-button:active {
  background-color: #e6c849;
  box-shadow: 0 1px #444;
}
