.pokemon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  background-color: #4183ff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgb(0, 102, 255);
  background: linear-gradient(-45deg, #ff0000, #ff7f00, #000000, #00a500, #4f4fff, #009149, #4b0082, #8b00ff, #00ff00);
  background-size: 400% 400%;
  animation: rainbow-animation-page 5s linear infinite;
}

.pokemon-name-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
